/*reset*/
* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box; }

/*fondo web*/
.base_web {
  background-image: url(/imagenes/fondo/fondo.png);
  background-size: auto;
  font-size: 19px;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content auto max-content; }

/*footer*/
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(73, 73, 73, 0.16); }
  .footer_item {
    display: flex;
    align-items: center;
    padding: 0rem .5rem; }
    .footer_item-icon {
      padding: .5rem;
      color: #393939;
      font-size: 1rem; }
    .footer_item-item {
      display: flex;
      align-items: center;
      color: #393939;
      font-family: "Koulen", cursive;
      font-size: 1rem;
      text-decoration: none; }
    .footer_item-item:hover {
      text-decoration: none;
      color: black; }

/*header*/
.navbar {
  width: 100%; }
  .navbar_color {
    background-color: rgba(197, 200, 172, 0.808); }
  .navbar_color-dropdown {
    background-color: rgba(197, 200, 172, 0.808);
    border: 1px #c5c8ac;
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3); }
  .navbar-brand {
    font-family: "Dancing Script", cursive;
    font-size: 2rem; }
  .navbar .space_item-dropdown, .navbar .space_item {
    font-size: 20px;
    font-family: "Bebas Neue", cursive; }
  .navbar .space_item {
    padding: 0rem .7rem; }

/*sombras*/
.boxShadow {
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.5); }

/*index*/
.index {
  width: 100%; }
  .index_card--intro {
    background-color: rgba(203, 203, 174, 0.306);
    line-height: 25px;
    padding: 1rem;
    margin-top: 3rem;
    border: 1px solid rgba(34, 34, 34, 0.091);
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: "Finlandica", sans-serif;
    color: #4d4d4d; }
  .index_titulo {
    margin: 1rem;
    padding: 1rem; }
    .index_titulo-primario, .index_titulo {
      font-size: 2rem;
      font-family: "Dancing Script", cursive;
      display: flex;
      justify-content: center;
      text-align: center; }
    .index_titulo-secundario {
      font-size: 1.7rem;
      font-family: "Dancing Script", cursive;
      display: flex;
      justify-content: center; }
  .index_text {
    font-family: "Finlandica", sans-serif; }
    .index_text--modelos {
      text-decoration: none;
      color: #4d4d4d; }
    .index_text--modelos:hover {
      text-decoration: none;
      color: black; }
  .index_carousel-img {
    width: 100%;
    max-width: 700px;
    min-width: 220px;
    margin: auto;
    margin-bottom: 16rem; }
    @media screen and (max-width: 764px) {
      .index_carousel-img {
        width: 90%;
        margin: 0 2rem;
        margin-bottom: 18rem; } }
    @media screen and (max-width: 575px) {
      .index_carousel-img {
        width: 90%;
        margin: auto;
        margin-bottom: 3rem; } }

/*produtos*/
.productos_container {
  width: 400px;
  display: flex;
  justify-content: center; }
  @media screen and (max-width: 440px) {
    .productos_container {
      width: 280px; } }

.productos_container:hover {
  transform: scale(1.009); }

.productos_img {
  max-width: 400px;
  margin: 1.2rem; }
  @media screen and (max-width: 485px) {
    .productos_img {
      width: 280px; } }

.productos_titulo {
  font-size: 2rem;
  font-family: "Dancing Script", cursive;
  padding: 2rem;
  text-align: center; }

.productos_intro {
  position: fixed;
  bottom: 5%;
  right: 15px;
  width: 14rem;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid rgba(34, 34, 34, 0.091);
  border-radius: 5px;
  padding: .5rem;
  font-family: "Finlandica", sans-serif;
  font-size: 1.2rem;
  background-color: rgba(203, 203, 174, 0.817);
  color: #4d4d4d; }

.productos_img-modal {
  width: 100%;
  height: auto; }

.modal-footer {
  flex-wrap: nowrap; }

.btn-primario {
  background-color: rgba(197, 200, 172, 0.808); }

.modal-body {
  padding: 2px;
  border-radius: 4px;
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.72); }

/*talles*/
.talles_container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  overflow: hidden; }

.talles_titulo {
  font-size: 2rem;
  font-family: "Dancing Script", cursive;
  margin: 1rem;
  display: flex;
  justify-content: center;
  padding: 1rem; }

.talles_intro {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: max-content;
  padding: .5rem 0;
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-family: "Finlandica", sans-serif;
  font-size: 1.2rem;
  border: 1px solid rgba(34, 34, 34, 0.091);
  background-color: rgba(203, 203, 174, 0.306);
  color: #4d4d4d; }

.talles_card {
  min-width: 300px;
  max-width: 500px;
  padding: 1rem;
  margin: 0 10px; }
  @media screen and (max-width: 425px) {
    .talles_card {
      padding: 0; } }

.talles_card-color {
  background-color: rgba(203, 203, 174, 0.306); }

.talles_card-title {
  text-align: center;
  font-family: "Dancing Script", cursive;
  padding-bottom: 1rem; }

.talles_card_table {
  width: 100%;
  border: 1px solid rgba(34, 34, 34, 0.132);
  background-color: rgba(79, 79, 67, 0.138);
  font-family: "Finlandica", sans-serif;
  font-size: 1.1rem; }
  .talles_card_table-item {
    text-align: center;
    padding: 5px 17px; }
    @media screen and (max-width: 425px) {
      .talles_card_table-item {
        padding: 5px 8px; } }

@media screen and (max-width: 999px) {
  .talles .espacioCard {
    margin-top: 2rem; } }

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

/*Quienes somos*/
.quienes_somos {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 5rem; }
  @media screen and (max-width: 425px) {
    .quienes_somos {
      margin: 2rem 2rem; } }
  .quienes_somos_title {
    font-size: 2rem;
    font-family: "Dancing Script", cursive;
    text-align: center;
    padding: .6rem; }
  .quienes_somos_text {
    font-family: "Finlandica", sans-serif; }
  .quienes_somos_card {
    background-color: rgba(203, 203, 174, 0.306); }

/*formulario*/
.form {
  display: flex;
  align-items: center;
  justify-content: center; }
  .form_titulo {
    font-size: 2rem;
    font-family: "Dancing Script", cursive;
    display: flex;
    justify-content: center;
    padding-bottom: 1rem; }
  .form_box {
    background-color: rgba(203, 203, 174, 0.306);
    width: 100%;
    max-width: 500px;
    padding: 30px;
    border-radius: 10px;
    margin: 2rem 2rem; }
  .form_imputs {
    width: 100%;
    background-color: rgba(79, 79, 67, 0.138);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid black;
    font-size: 20px;
    font-family: "Finlandica", sans-serif; }
  .form_buton {
    width: 100%;
    height: 3.5rem;
    background-color: #cbcbae;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 20px;
    font-family: "Finlandica", sans-serif; }
  .form_buton:hover {
    font-size: 22px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.271); }
