@import "./mixins";

/*formulario*/
.form {
    @include empty_web;

    &_titulo {
        @include titulo;
        display: flex;
        justify-content: center;
        padding-bottom: 1rem;
    }

    &_box {
        background-color: map-get($colors, background-card);
        width: 100%;
        max-width: 500px;
        padding: 30px;
        border-radius: 10px;
        margin: 2rem 2rem;
    }

    &_imputs {
        width: 100%;
        background-color: map-get($colors, background-imputs);
        padding: 10px;
        border-radius: 4px;
        margin-bottom: 16px;
        border: 1px solid black;
        font-size: 20px;
        font-family: map-get($fonts, text);
    }


    &_buton {
        width: 100%;
        height: 3.5rem;
        background-color: rgb(203, 203, 174);
        border: 1px solid black;
        border-radius: 4px;
        font-size: 20px;
        font-family: map-get($fonts, text);
    }

    &_buton:hover {
        font-size: 22px;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.271);

    }
}