@import "./mixins";

/*index*/
.index {
    width: 100%;

    &_card--intro {
        background-color: rgba(203, 203, 174, 0.306);
        line-height: 25px;
        padding: 1rem;
        margin-top: 3rem;
        border: 1px solid rgba(34, 34, 34, 0.091);
        display: flex;
        justify-content: center;
        text-align: center;
        font-family: map-get($fonts, text);
        color: map-get($colors, font-header);
    }

    &_titulo {
        @extend .index_titulo-primario;
        margin: 1rem;
        padding: 1rem;

        &-primario {
            @include titulo;
            display: flex;
            justify-content: center;
            text-align: center
        }

        &-secundario {
            @include titulo(1.7rem);
            display: flex;
            justify-content: center;
        }
    }

    &_text {
        font-family: map-get($fonts, text);
        &--modelos{
            text-decoration: none;
            color: map-get($colors, font-header);
        }
        &--modelos:hover{
            text-decoration: none;
            color: black;
        }
    }

    &_carousel-img {
        width: 100%;
        max-width: 700px;
        min-width: 220px;
        margin: auto;
        margin-bottom: 16rem;

        @media screen and (max-width: 764px) {
            width: 90%;
            margin: 0 2rem;
            margin-bottom: 18rem;
        }

        @media screen and (max-width: 575px) {
            width: 90%;
            margin: auto;
            margin-bottom: 3rem;
        }
    }
}